.front-product-list{
    cursor: pointer;
}

.img-mask{
    overflow: hidden;
    img{
        transition: all .5s;
        height: 260px;
        object-fit: cover;
        object-position: 50% 50%;
        &:hover{
            transform: scale(1.1);
        }
    }
}