.front-product-list{
    cursor: pointer;
}

.img-mask{
    overflow: hidden;
    img{
        transition: all .5s;
        height: 260px;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.front-product-list .card:hover img{
    transform: scale(1.1);
}