.logout{
    color:white;
    padding:5px 10px;
    transition:all .3s;
    &:hover{
        background-color:$primary;
        color:white;
    }
}

.sidebar-link{
    color: white;
    transition:all .3s;
    &:hover{
        background-color:$primary;
        color:white;
    }
    i{
    font-size:1.5rem;
    }
}


.backActive{
    background-color:$primary;
    color:white;
}